.CourseDetailsHero__right{
    width: 100%;
    height: 500px;


    .CourseDetailsHero__right-foreground{
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) -1.23%, #000000 80%);
      transition: 0.5s;
    }

    > img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      animation: video 5s infinite paused;
    }

    button{
      background-color: white;
      transition: 0.5s, background-color 0.2s;

      &:hover{
        background-color: rgb(250,84,28);
        img{
          filter: contrast(0) brightness(200%);
        }
      }
      &:active{
        transition: 0s;
        background-color: rgb(159, 53, 18);
      }

      img{
        width: 20px;
      }
    }
} 

  .CourseDetailsHero__right_active{
    cursor: pointer;

    > img{
      animation-play-state: running;
    }

    .CourseDetailsHero__right-foreground{
      opacity: 0;
    }

    button{
      opacity: 0;
      pointer-events: none;
    }
  } 

  @keyframes video {
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(2);
    }
    100%{
      transform: scale(1);
    }
  }


 

  .BlogDetails__content{
    max-width: 760px;
  }
  
  
  .BlogDetailsPage__image{
    height: calc(100vh - 95px);
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    overflow: hidden;
  }


  .BlogDetails__content > div > h1{
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #212B36;
    margin: 40px 0 16px;
  }
  
  
  .BlogDetailsPage__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .BlogDetails__content > img{
    width: 100%;
    border-radius: 15px;
  }

  .BlogDetailsPage__bigletter{
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #212B36 !important;
  }

  .BlogDetails__content > h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    margin-top: 24px;
  }

  .BlogDetails__content > span{
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #919EAB;
    display: block;
  }
  
  .BlogDetails__content-description{
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #212B36 !important;
    margin: 24px 0 48px 0;
  }
  
  .BlogDetailsPage__nav{
    padding: 24px 0;
  }
  
  
  .BlogDetailsPage__nav-container{
    justify-content: flex-start;
    gap: 10px;
  }
  
  
  .BlogDetailsPage__nav-container a{
    font-size: 13px;
  }
  .BlogDetailsPage__nav-container a:hover{
    opacity: 0.5;
  }
  .BlogDetailsPage__nav-container a:active{
    opacity: 1;
  }
  
  
  
  .BlogDetailsPage__nav-container img{
    height: 15px;
  
    transform: scale(-1);
  }
  
  
  
  .BlogDetailsPage__nav-container .link-disabled{
    opacity: 0.5;
  }
  
  
  
  
  
  .BlogDetailsPage__content{
    border-top: 1px solid rgba(var(--p-color-dark-rgb), 0.24);
    border-bottom: 1px solid rgba(var(--p-color-dark-rgb), 0.24);
  }
  
  
  .BlogDetailsPage__content-container{
    max-width: 760px;
  
    padding: 80px 0;
  
    flex-direction: column;
    gap: 48px;
  }
  
  
  .BlogDetailsPage__content-container span{
    color: var(--p-color-dark);
  }
  
  
  
  .BlogDetailsPage__content-container > h1{
    font-size: 48px;
    text-align: center;
  }
  
  
  
  .BlogDetailsPage__content-container > p:first-of-type{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
  }
  
  .BlogDetailsPage__content-container p{
    font-size: 16px;
    line-height: 150%;
  }
  
  
  
  
  .BlogDetailsPage__content-autor{
    width: 100%;
  
    padding: 24px 0;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    border-top: 1px solid rgba(var(--p-color-dark-rgb), 0.24);
    border-bottom: 1px solid rgba(var(--p-color-dark-rgb), 0.24);
  }
  
  
  .BlogDetailsPage__content-autor > div{
    height: 48px;
  
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  
  .BlogDetailsPage__content-autor .user-avatar{
    width: 48px;
  }
  
  .user-avatar{
    border-radius: 100%;
  }
  
  
  
  .BlogDetailsPage__content-autor .left div{
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  
  .BlogDetailsPage__content-autor .left h1{
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
  }
  
  
  
  .BlogDetailsPage__content-autor .left span{
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #919EAB;
  }
  
  
  
  
  .BlogDetailsPage__content-autor .right button{
    height: fit-content;
  
    padding: 6px;
  
    display: flex;
  
    background: none;
  
    border-radius: 100%;
  
    cursor: pointer;
  }
  
  .BlogDetailsPage__content-autor .right button:active{
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  
  
  
  .BlogDetailsPage__bigletter::first-letter{ 
    float: left; 
    font-size: 80px;
    font-weight: 700;
    line-height: 60px; 
    padding-top: 5px; 
    padding-right: 8px; 
  }
  
  
  
  .BlogDetailsPage__content-container > img{
    width: 100%;
  
    border-radius: 16px;
  }
  
  
  
  .BlogDetailsPage__content-container > div{
    width: 100%;
  }
  
  
  .BlogDetailsPage__content-container > div h1{
    margin-bottom: 15px;
  
    font-size: 24px;
    letter-spacing: 0;
  }
  
  .BlogDetails__content-description2{
    color: #212B36 !important;
  }
  
  
 .quotes{
    padding: 46px;
  
  
    display: flex;
    align-items: center;
    gap: 46px;

    p{
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      color: #212B36 !important;
    }
  }
  
  
  .BlogDetailsPage__content-container .quotes p{
    font-size: 20px;
    font-weight: 600;
    font-style: italic;
  }
  
  
  
  
  .BlogDetailsPage__tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  
  .BlogDetailsPage__tags h2, .BlogDetailsPage__social-media h2{
    font-size: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 26px;
  }
  
  
  
  .BlogDetailsPage__tags button{
    padding: 4px 8px;
  
    background-color: rgba(var(--p-color-dark-rgb), 0.16);
  
    color: var(--p-color);
    font-size: 14px;
  
    border-radius: 8px;
  
    cursor: pointer;
  }
  .BlogDetailsPage__tags button:hover{
    background-color: rgba(var(--p-color-dark-rgb), 0.32);
  }
  .BlogDetailsPage__tags button:active{
    background-color: rgba(var(--p-color-dark-rgb), 0.5);
  }
  
  
  
  
  .BlogDetailsPage__social-media{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 50px 0 66px;
  }
  
  
  .BlogDetailsPage__social-media div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
  }
  
  
  .BlogDetailsPage__social-media button{
    padding: 5px 10px;
  
    display: flex;
    align-items: center;
    gap: 10px;
  
    background: none;
  
    border: 1px solid black;
    border-radius: 8px;
  }
  
  .BlogDetailsPage__social-media .facebook-btn{
    color: rgba(24, 119, 242, 1);
    border-color: rgba(24, 119, 242, 1);
  }
  .BlogDetailsPage__social-media .facebook-btn:hover{
    background-color: rgba(24, 119, 242, 0.1);
  }
  .BlogDetailsPage__social-media .facebook-btn:active{
    transition: 0s;
    background-color: rgba(24, 119, 242, 0.3);
  }
  
  
  
  .BlogDetailsPage__social-media .instagram-btn{
    color: rgba(224, 45, 105, 1);
    border-color: rgba(224, 45, 105, 1);
  }
  .BlogDetailsPage__social-media .instagram-btn:hover{
    background-color: rgba(224, 45, 105, 0.1);
  }
  .BlogDetailsPage__social-media .instagram-btn:active{
    transition: 0s;
    background-color: rgba(224, 45, 105, 0.3);
  }
  
  
  
  .BlogDetailsPage__social-media .linkedin-btn{
    color: rgba(0, 126, 187, 1);
    border-color: rgba(0, 126, 187, 1);
  }
  .BlogDetailsPage__social-media .linkedin-btn:hover{
    background-color: rgba(0, 126, 187, 0.1);
  }
  .BlogDetailsPage__social-media .linkedin-btn:active{
    transition: 0s;
    background-color: rgba(0, 126, 187, 0.3);
  }
  
  
  
  .BlogDetailsPage__social-media .twitter-btn{
    color: rgba(0, 170, 236, 1);
    border-color: rgba(0, 170, 236, 1);
  }
  .BlogDetailsPage__social-media .twitter-btn:hover{
    background-color: rgba(0, 170, 236, 0.1);
  }
  .BlogDetailsPage__social-media .twitter-btn:active{
    transition: 0s;
    background-color: rgba(0, 170, 236, 0.3);
  }
  
  
  
  .BlogDetailsPage__content hr{
    width: 100%;
    height: 1px;
  
    display: block;
  
    background-color: rgba(145, 158, 171, 0.24);;
  }
  
  
  
  
  .BlogDetailsPage__content-comments{
    display: flex;
    gap: 32px;
    border-bottom: 1px solid rgba(145, 158, 171, 0.24);
    border-top: 1px solid rgba(145, 158, 171, 0.24);
  }
  
  
  .BlogDetailsPage__content-comments > img{
    width: 96px;
    height: 96px;
  
    border-radius: 100%;
  }
  
  
  
  .BlogDetailsPage__content-comments p{
    color: var(--p-color);
    font-size: 14px;
  }
  
  
  
  .BlogDetailsPage__content-comments span{
    opacity: 0.7;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #919EAB;
  }
  
  
  
  .BlogDetailsPage__content-comments > div{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  
  .BlogDetailsPage__content-comments > div h1{
    margin-bottom: 5px;
  }
  
  
  
  .BlogDetailsPage__content-comments-top{
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left{
      h1{
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
      }
    }
  }
  
  
  .BlogDetailsPage__content-comments-top .right{
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .App-dark .BlogDetailsPage__nav-container img{
    filter: contrast(0) brightness(200%);
  }
  
  
  
  .App-dark .BlogDetailsPage__content-autor .right button:active{
    background-color: rgba(var(--p-color-dark-rgb), 0.3);
  }
  
  
  
  .App-dark .BlogDetailsPage__tags button{
    color: var(--p-color-dark);
  }
  
  
  
  
  .App-dark .BlogDetailsPage__content-container hr{
    background-color: rgba(var(--p-color-dark-rgb), 0.5);
  }
  
  
  
  .App-dark .BlogDetailsPage__content-comments p{
    color: var(--p-color-dark);
  }
  
  
  
  .App-dark .BlogDetailsPage__content-comments span{
    color: var(--p-color-dark);
  }
  