.about {
  margin-top: 90px;
  padding: 160px 0;
  background: rgba(250, 84, 28, 0.08);
  .aboutCont {
    display: flex;
    justify-content: space-between;
    .rightAbout {
      h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 80px;
        margin-bottom: 24px;
      }
      p {
        width: 464px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    .aboutCont {
      .rightAbout {
        h1 {
          font-size: 48px;
        }
        p {
          width: 390px;
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 860px) {
  .about {
    .aboutCont {
      .rightAbout {
        h1 {
          font-size: 40px;
        }
        p {
          width: 334px;
        }
      }
    }
  }
}
@media screen and (max-width: 766px) {
  .about {
    .aboutCont {
      .rightAbout {
        h1 {
          font-size: 31px;
        }
        p {
          width: 245px;
          font-size: 13px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .about {
    .aboutCont {
      .leftAbout {
        margin-top: 50px;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .about {
    .aboutCont {
      display: block;
      .rightAbout {
        text-align: center;
        h1 {
          font-size: 48px;
        }
        p {
          width: 100%;
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (max-width: 418px) {
  .about {
    .aboutCont {
      display: block;
      .rightAbout {
        text-align: center;
        h1 {
          font-size: 36px;
        }
        p {
          font-size: 12px;
        }
      }
    }
  }
}
@media screen and (max-width: 315px) {
  .about {
    .aboutCont {
      display: block;
      .rightAbout {
        text-align: center;
        h1 {
          font-size: 30px;
          line-height: 5px;
        }
      }
    }
  }
}
