.feedback {
  padding: 120px 0;
  margin: 0 auto;
  overflow-x: hidden;
  h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 80px;
  }
  p {
    width: 564px;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 40px;
  }
  h3 {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
  }
  .avatars {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 24px;
  }
  .profession {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
  }
  .vectorAp {
    margin: 0 auto;
    margin-bottom: 34px;
  }
  .vector{
    background-color:black ;
    cursor: pointer;
  }
}
